# Additional configuration for erlinit
#
# To override the settings in this file, see
# https://hexdocs.pm/nerves/advanced-configuration.html#overriding-erlinit-config-from-mix-config.
#

# Turn on the debug prints
-v

# Specify where erlinit should send the IEx prompt. Only one may be enabled at
# a time.
-c tty1     # VGA

# Mount the application partition (run "man fstab" for field names)
# NOTE: This must match the location in the fwup.conf. If it doesn't the system
#       will probably still work fine, but you won't get shell history since
#       shoehorn/nerves_runtime can't mount the application filesystem before
#       the history is loaded. If this mount fails due to corruption, etc.,
#       nerves_runtime will auto-format it. Your applications will need to handle
#       initializing any expected files and folders.
-m /dev/rootdisk0p1:/boot/grub:vfat:ro,nodev,noexec,nosuid:

# Container support: mount cgroups-v2 (unified hierarchy)
# Kernel boots with cgroup_no_v1=all (grub.cfg) to force unified hierarchy.
# Podman v5 expects cgroups-v2 natively.
-m cgroup2:/sys/fs/cgroup:cgroup2:nodev,noexec,nosuid:

# Erlang release location (CRITICAL - must match where firmware puts the release)
-r /srv/erlang

# Assign a hostname of the form "nerves-<last 4 chars of the serial number>".
# See /etc/boardid.config for locating the serial number.
-d /usr/bin/boardid
-n nerves-%-.4s

# If using shoehorn (https://github.com/nerves-project/shoehorn), start the
# shoehorn OTP release up first. If shoehorn isn't around, erlinit fails back
# to the main OTP release.
--boot shoehorn
